<div class="card featured-review">

  {% comment %}
  <div class="featured-review__image">
    {{ review.product.value.featured_image | image_url: width: 300 | image_tag }}
  </div>
  {% endcomment %}
  <div class="featured-review__header-content">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div class="rating" role="img" aria-label="{{ review.rating.value }} out of 5.0 stars">
        <span aria-hidden="true" class="rating-star" style="--rating: {{ review.rating.value }}; --rating-max: {{ review.rating.value }}.0; --rating-decimal: 1;"></span>
      </div>

      <span style="text-transform: uppercase; font-size: 13px;">
        Verified buyer
      </span>
    </div>

    {%- comment -%}
    <h3 class="h4">{{ review.product.value.title | link_to: review.product.url }}</h3>

    <span class="featured-review__verified h5">
      ✓ verified review
    </span>
    {%- endcomment -%}
  </div>

  <div class="featured-review__review rte">
    {%- comment -%}
    <div><strong>{{ review.reviewer.value }}</strong></div>
    {%- endcomment -%}

    {{ review.review | metafield_tag }}

    {% comment %}
    <a href="{{ review.collection_link.value.url }}" class="link featured-review__link">Shop {{ review.collection_link.value.title }}</a>
    {% endcomment %}
  </div>
</div>