{%- liquid
  assign price = block.settings.price

  assign compare_price = block.settings.compare_price

  assign savings = block.settings.savings

  assign description = block.settings.description

  assign call_to_action = block.settings.call_to_action

  assign url = block.settings.url
-%}

<div class="stack text--center landing-offer" {{ block.shopify_attributes }}>
  <div class="landing-offer-pricing">
    <s class="landing-offer-price">{{ compare_price }}</s>
    <strong class="landing-offer-price">{{ price }}</strong>
    <span class="landing-offer-savings"><span>{{ savings }}</span></span>
  </div>

  <div class="landing-offer-description">
    <p>{{ description }}</p>
  </div>

  <div class="landing-offer-reviews">
    <span class="landing-offer-stars">
      {%- for n in (1..5) -%}
        {%- render "icon-star" -%}
      {%- endfor -%}
    </span>

    <span>4.5 &nbsp;|&nbsp; 15,000+ Reviews</span>
  </div>

  {%- render "landing-button" block: block -%}
</div>
