<style>
  .purchase-option-container {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 0 12px;
  }


  .purchase-option-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    position: relative;
  }

  .purchase-option-header input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }


  .purchase-option-badge {
    border-radius: 10px;
    padding: 3px 10px;
    padding-top: 4px;
    color: #FFFFFF;
  }

  .purchase-option-savings {
    border-radius: 10px;
    background-color: #FFE5E0;
    color: #F51E28;
    padding: 3px 10px;
    padding-top: 4px;
  }


  .option-price {
    font-weight: 700;
  }

  .option-sale-price {
    font-weight: 700;
    color: red;
  }

  .option-compare-price {
    font-weight: 700;
    text-decoration: line-through;
  }


  .option-incentives {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-bottom: 12px;
  }

  .option-incentive {
    position: relative;
    padding: 5px;
    padding-left: 20px;
  }

  .option-incentive:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M12.75 1.24951L4.5 12.7495L1.25 9.49951' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }


  .purchase-option-heading {
    padding-left: calc(18px + 6px);
    padding-top: 1px;
    position: relative;
  }

  .purchase-option-heading:before,
  .purchase-option-heading:after {
    content: " ";
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .purchase-option-heading:before {
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
  }

  .purchase-option-heading:after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    left: 3px;
    background-color: #FFFFFF;
    transition: background-color 150ms ease;
  }


  .purchase-option-container:has(input:checked) {
    background-color: #FFFFFF;
  }

  .purchase-option-container:has(input:checked) .purchase-option-heading:after {
    background-color: #000000;
  }


  .subscriptions-select {
    position: relative;
    z-index: 30;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 48px 0 12px;
    border: 1px solid #000;
    font-size: 15px;
    font-family: var(--font-body-family);
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6668 4.66669L8.00016 11.3334L1.3335 4.66669' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-color: transparent;
    text-overflow: "";
    cursor: pointer;
    appearance: none;
  }

  .subscriptions-select:focus {
    outline: none;
    box-shadow: none;
  }
</style>

<style>
  component-default-subscriptions {
    display: block;
  }
</style>

{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  assign current_allocation = product.selected_or_first_available_selling_plan_allocation


  assign discount_percentage = current_variant.compare_at_price | minus: current_allocation.price | times: 100.0
  assign discount_percentage = discount_percentage | divided_by: current_variant.compare_at_price | round
  assign discount_percentage = discount_percentage | append: "%"
-%}

<component-default-subscriptions data-section="{{ section.id }}" data-url="{{ product.url }}">
  <div class="purchase-option-container active--true">
    <div class="purchase-option-header">

      {%- liquid
        assign checked = "checked"

        if product.selected_variant and product.selected_selling_plan == nil
          assign checked = ""
        endif
      -%}

      <input type="radio" name="purchase_option" value="subscription" {{ checked }} />

      <label class="purchase-option-heading">
        <strong>Subscribe & Save!</strong>
      </label>

      <span class="purchase-option-savings">
        save {{ discount_percentage }}
      </span>
    </div>
    <div>
      <select class="subscriptions-select">
        {%- for allocation in current_variant.selling_plan_allocations -%}
          {%- liquid
            assign selected = ""

            if product.selected_selling_plan == nil and forloop.first
              assign selected = "selected"

            elsif product.selected_selling_plan.id == allocation.selling_plan.id
              assign selected = "selected"

            endif
          -%}

          <option value="{{ allocation.selling_plan.id }}" {{ selected }}>
            {{ allocation.selling_plan.name | capitalize }}
          </option>
        {%- endfor -%}
      </select>

      <ul class="option-incentives" style="margin-top: 12px;">
        <li class="option-incentive">{{ discount_percentage }} off for life</li>
        <li class="option-incentive">Pause, modify, or cancel anytime</li>
        <li class="option-incentive">Free US shipping on every order over $50</li>
      </ul>
    </div>
  </div>

  {%- liquid
    assign checked = ""

    if product.selected_variant and product.selected_selling_plan == nil
      assign checked = "checked"
    endif

    assign discount_percentage = current_variant.compare_at_price | minus: current_variant.price | times: 100.0
    assign discount_percentage = discount_percentage | divided_by: current_variant.compare_at_price | round
    assign discount_percentage = discount_percentage | append: "%"
  -%}

  <div class="purchase-option-container" style="margin-top: 12px;">
    <div class="purchase-option-header">
      <input type="radio" name="purchase_option" value="one-time" {{ checked }} />

      <label class="purchase-option-heading">
        <strong>One-time Purchase</strong>
      </label>

      <span class="purchase-option-savings">
        save {{ discount_percentage }}
      </span>
    </div>
  </div>
</component-default-descriptions>
