<recharge-widget>
  <div
    class="widget hidden"
    data-product-id="{{ product.id }}"
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
    <div class="widget__template-radio hidden">
      <div class="widget__radio-wrapper">
        
          <div class="widget__radio subscription-radio {% if product.selected_or_first_available_variant.selling_plan_allocations.size == 0 %}hidden{% endif %}">
            <div class="widget__radio-option-selector">
              <input id="selling_plan_subsave__{{ product.id }}" class="widget__radio-input" type="radio" name="selling_plan">
              <label for="selling_plan_subsave__{{ product.id }}" class="widget__radio-label">
                
                <span class="widget__radio-option-text">
                  <span class="option-text"></span>
                  <span class="option-discount"></span>
                  <span class="option-dash">-</span>
                  <span class="option-compare-price"></span>
                  <span class="option-price"></span>
                </span>
              </label>
            </div>

            <div class="widget__selling-plans">
              <dropdown-select class="dropdown-select" data-product-selling-plans-dropdown="">
                <div
                  aria-haspopup="listbox"
                  aria-label="Deliver every 8 Weeks"
                  aria-controls="listbox__{{ product.id }}"
                  id="listbox-dropdown__{{ product.id }}"
                  aria-expanded="true"
                  role="button"
                  tabindex="0"
                >
                  <select
                    class="selling-plan-group__select text-bold ui-copy"
                    name="selling-plan-group"
                    data-custom-dropdown=""
                    data-product-selling-plans-select=""
                    data-product-selling-plan-group-name=""
                    aria-label="Delivery options"
                    tabindex="-1"
                  >
                  </select>
                </div>
                <ul
                  role="listbox"
                  id="listbox__{{ product.id }}"
                  aria-labelledby="tab-1"
                  aria-activedescendant="4132864214"
                  tabindex="-1"
                  aria-hidden="false"
                >
                </ul>
              </dropdown-select>
            </div>
            {% assign checkmarks = 'recharge.checkmarks' | t | split: '|' %}
            <ul class="rc-checkmarks">
              {% for checkmark in checkmarks %}
                <li class="rc-checkmark">{{ checkmark }}</li>
              {% endfor %}
            </ul>
          </div>
            <div class="widget__radio one-time-radio" {% if product.selected_or_first_available_variant.selling_plan_allocations.size == 0 %}style="margin-top: 0px;"{% endif %}>
          <div class="widget__radio-option-selector">
            <input id="selling_plan_one-time__{{ product.id }}" class="widget__radio-input" type="radio" name="selling_plan">
            <label for="selling_plan_one-time__{{ product.id }}" class="widget__radio-label">
              <span class="widget__radio-option-text">
                <span class="option-text"></span>-
                <span class="option-discount"></span>
                <div class="option-compare-price{% if product.selected_or_first_available_variant.selling_plan_allocations.size != 0 %} hidden{% endif %}">
                  {{ product.selected_or_first_available_variant.compare_at_price |  money_without_trailing_zeros }}
                </div>                
                <div class="option-price {% if product.selected_or_first_available_variant.selling_plan_allocations.size == 0 %}bulk-discount{% endif %}"></div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="widget__template-checkbox hidden">
      <div class="widget__checkbox-wrapper">
        <div class="widget__checkbox">
          <label for="selling_plan_checkbox__{{ product.id }}" class="widget__checkbox-label">
            <input id="selling_plan_checkbox__{{ product.id }}" class="widget__checkbox-input" type="checkbox" name="selling_plan_checkbox">
            <span class="widget__checkbox-option-text">
              <span class="option-text"></span>
              <span class="option-discount"></span>
              <span class="option-sub"></span>
            </span>
          </label>
          <div class="widget__selling-plans hidden">
            <label for="rc_selling_plan" class="widget__selling-plans-dropdown">
              <span class="widget__selling-plans-dropdown__label visually-hidden">Delivery</span>
              <select class="widget__selling-plans-dropdown__select" name="rc_selling_plan"></select>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="widget__subscription-details hidden" style="display: none;">
      <button type="button" class="widget__subscription-details-button">
        {% render 'icon-recharge-circle-arrow' %}
        <span class="widget__subscription-details__text"></span>
      </button>
      <div class="widget__tooltip">
        <div class="widget__tooltip-content">
          <div class="how-it-works">
            <span class="how-it-works__title"></span>
          </div>
          <a class="learn-more hidden" href="" rel="noopener noreferrer" target="_blank"></a>
          <div class="widget__tooltip-footer hidden">
            <a
              href="http://rechargepayments.com/subscribe-with-recharge"
              target="_blank"
              rel="noopener noreferrer"
              class="widget-tooltip__badge"
            >
              <span class="powered-by">Powered by</span>
              {% render 'icon-recharge-logo' %}
            </a>
          </div>
        </div>
        <div class="arrow"></div>
      </div>
    </div>
  </div>
</recharge-widget>

<link rel="stylesheet" href="{{ 'rc-widget.css' | asset_url }}">

