{{ 'component-boldly-pure.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="boldly-pure page-width isolate section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="boldly-pure__left">
    <h3 class="h1">{{ section.settings.heading | replace: ' ', '<br>' }}</h3>
    <div class="rte text-body">{{ section.settings.text }}</div>
  </div>
  <div class="boldly-pure__right">
    {% for block in section.blocks %}
    <div class="boldly-pure__callout">
      <h4 class="h4">{{ block.settings.heading }}</h4>
      <div class="callout__inner">
        {{ block.settings.image | image_url: width: 50 | image_tag }}
        <div class="rte">{{ block.settings.text }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% schema %}
{
  "name": "Boldly pure",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Boldly pure",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>“Clean” can be confusing and that’s why we describe ourselves as Boldy Pure instead. We are committed to transparency and do our best to keep our products simple, safe, and effective by leveraging the best science and nature have to offer.</p>",
      "label": "Paragraph"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "callout",
      "name": "Callout",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Yes plz polaroid kitsch, tonx woke taxidermy typewriter austin.</p>",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Boldly pure"
    }
  ]
}
{% endschema %}
