{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #ImageWithText--{{ section.id }} .media-caption {
    color: {{ section.settings.media_caption_color }};
    {% if section.settings.media_caption_bg == 'solid' %}
      background-color: {{ section.settings.media_caption_bg_color }};
      padding: 0.4rem 0.6rem;
      border-radius: 0.8rem;
      opacity: 0.7;
    {% endif %}
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    #ImageWithText--{{ section.id }} {
    padding-left: {{ section.settings.desktop_content_padding_left }}px !important;
    padding-right: {{ section.settings.desktop_content_padding_right }}px !important;
    }

    #ImageWithText--{{ section.id }} .image-with-text__heading.h1 {
    font-size: calc(var(--font-heading-scale) * 7rem) !important;
  }

}
{%- endstyle -%}

{% assign scheme1 = settings.color_schemes | first %}

<div id="ImageWithText--{{ section.id }}" class="image-with-text image-with-text--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == scheme1 and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% if section.settings.show_mobile == false %} medium-hide small-hide{% endif %}{% if section.settings.show_desktop == false %} medium-up-hide large-up-hide{% endif %}{% if section.settings.show_desktop == false %} hide-desktop{% endif %}">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} {% if section.settings.layout_mobile == 'text_first' %} image-with-text__grid--reverse-mobile{% endif %} ">
    <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div
        class="image-with-text__media image-with-text__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.image != blank or section.settings.video != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.video != blank and section.settings.media_type == 'collage' %}
          style="padding-bottom: 100%;"
        {% endif %}
      >
        {%- if section.settings.image != blank or section.settings.video != blank -%}
            <div class="image-with-text__collage">
              {% if section.settings.image != blank or section.settings.video != blank %}
                <div class="collage-item">
                  <div class="collage-media">
                    {% if section.settings.media_caption != blank %}
                      <div class="media-caption media-caption--{{ section.settings.media_caption_position }} media-caption-mobile--{{ section.settings.overlay_caption_position_mobile }}">
                        {{ section.settings.media_caption }}
                      </div>
                    {% endif %}
                  {% if section.settings.image != blank and section.settings.video != blank %}
                    {{ section.settings.image | image_url: width: 900 | image_tag: loading: 'lazy' }}
                    <div class="collage-hover-video">
                      {{ section.settings.video | video_tag: image_size: '900x', loop: true, controls: false, muted: true, autoplay: true, playsinline: true }}
                    </div>
                  {% elsif section.settings.image != blank %}
                    {{ section.settings.image | image_url: width: 900 | image_tag: loading: 'lazy' }}
                  {% elsif section.settings.video != blank %}
                    {{ section.settings.video | video_tag: image_size: '900x', loop: true, controls: false, muted: true, autoplay: true, playsinline: true }}
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% if section.settings.collage_image != blank or section.settings.collage_video != blank %}
                <div class="collage-item">
                  <div class="collage-media">
                    {% if section.settings.collage_media_caption != blank %}
                      <div class="collage-caption" style="color: {{ section.settings.collage_media_caption_color }};">
                        {{ section.settings.collage_media_caption }}
                      </div>
                    {% endif %}
                    {% if section.settings.collage_image != blank and section.settings.collage_video != blank %}
                      {{ section.settings.collage_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
                      <div class="collage-hover-video">
                        {{ section.settings.collage_video | video_tag: image_size: '900x', loop: true, controls: false, muted: true, autoplay: true, playsinline: true }}
                      </div>
                    {% elsif section.settings.collage_image != blank %}
                      {{ section.settings.collage_image | image_url: width: 900 | image_tag: loading: 'lazy' }}
                    {% elsif section.settings.collage_video != blank %}
                      {{ section.settings.collage_video | video_tag: image_size: '900x', loop: true, controls: false, muted: true, autoplay: true, playsinline: true }}
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div
        class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container"
      >
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2
                class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading | replace: 'Body,', 'Body,<br>' }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <style>
                #image-with-text__text--{{ block.id }} {
                  {% if block.settings.background_style == 'solid' %}
                    background-color: {{ block.settings.background_color }};
                    padding: 1.4rem;
                    border-radius: 0.8rem;
                  {% endif %}
                }
              </style>
              <div id="image-with-text__text--{{ block.id }}" class="image-with-text__text rte {{ block.settings.text_style }} {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {% capture signature %}
                <img src="{{ 'Signature.png' | file_url }}" width="260" height="51" />
                {% endcapture %}
                {{ block.settings.text | replace: '[signature]', signature }}
              </div>
              {% if block.settings.bullets_to_checkmarks %}
                <style>
                  .section-{{ section.id }}-padding ul {
                    list-style-type: none;
                  }
                  .section-{{ section.id }}-padding li:before {
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    top: 2px;
                    position: relative;
                    margin-right: 5px;
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.125 2.16666C15.8024 2.89044 13.5444 4.79058 11.6098 7.69364C9.92261 10.2658 8.68468 13.1316 7.95372 16.1576C7.33893 15.183 6.53586 14.3545 5.59643 13.7256C4.65701 13.0968 3.60213 12.6816 2.5 12.5068V14.5326C3.56031 14.7544 4.54436 15.2705 5.34942 16.027C6.15449 16.7835 6.75103 17.7527 7.07679 18.8333H9.38992C10.0766 13.4798 13.6167 6.11052 18.125 4.26421V2.16666Z' fill='black'/%3E%3C/svg%3E%0A");
                    background-size: contain;
                  }
                </style>
              {% endif %}
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <div class="image-with-text__button">
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_arrow %} button--arrow{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                    {% if block.settings.button_subtitle != blank %}
                      <div class="center" style="font-size: 1.2rem; margin-top: 0.6rem;">{{ block.settings.button_subtitle }}</div>
                    {% endif %}
                </div>
              {%- endif -%}
            {%- when 'results' -%}
              <style>
                #image-with-text__results--{{ block.id }} {
                  {% if block.settings.show_mobile %}
                    display: flex;
                  {% else %}
                    display: none;
                  {% endif %}
                }
                @media screen and (min-width: 750px) {
                  #image-with-text__results--{{ block.id }} {
                    {% if block.settings.show_desktop %}
                      display: flex;
                    {% else %}
                      display: none;
                    {% endif %}
                  }
                }
              </style>
              {% if block.settings.result_number1 != blank %}
                <div id="image-with-text__results--{{ block.id }}" class="image-with-text__results">
                    <div class="image-with-text__result">
                      <h2 class="image-with-text__result-number h1">{{ block.settings.result_number1 }}</h2>
                      <p>{{ block.settings.result_text1 }}</p>
                    </div>
                    <div class="image-with-text__result">
                      <h2 class="image-with-text__result-number h1">{{ block.settings.result_number2 }}</h2>
                      <p>{{ block.settings.result_text2 }}</p>
                    </div>
                    <div class="image-with-text__result">
                      <h2 class="image-with-text__result-number h1">{{ block.settings.result_number3 }}</h2>
                      <p>{{ block.settings.result_text3 }}</p>
                    </div>
                </div>
              {% endif %}
             {%- when 'review' -%}
              <div id="image-with-text__review--{{ block.id }}" class="image-with-text__review">
                <style>
                  #image-with-text__review--{{ block.id }} {
                    {% if block.settings.show_mobile %}
                      display: flex;
                    {% else %}
                      display: none;
                    {% endif %}
                  }
                  @media screen and (min-width: 750px) {
                    #image-with-text__review--{{ block.id }} {
                      {% if block.settings.show_desktop %}
                        display: flex;
                      {% else %}
                        display: none;
                      {% endif %}
                    }
                  }
                </style>
                <div class="image-with-text__review-header">
                  <div class="image-with-text__review-stars">★★★★★</div>
                  <h4>{{ block.settings.review_product }}</h4>
                  <div class="image-with-text-verified h5">✓ VERIFIED REVIEW</div>
                </div>
                <div class="h5"><strong>{{ block.settings.review_name }}</strong></div>
                <div class="h5"><strong>{{ block.settings.review_title }}</strong></div>
                <p>{{ block.settings.review_text }}</p>
              </div>
            {%- when 'number' -%}
              <div id="image-with-text__number--{{ block.id }}" class="image-with-text__number">
                <style>
                  #image-with-text__number--{{ block.id }} {
                    {% if block.settings.show_mobile %}
                      display: flex;
                    {% else %}
                      display: none;
                    {% endif %}
                  }

                  #image-with-text__number--{{ block.id }} {
                  color: white;
                  background-color: {{ block.settings.number_bg_color }};
                  font-size: 2.6rem;
                  font-weight: 700;
                  width: 3.2rem;
                  height: 3.2rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50% !important;
                }

                  @media screen and (min-width: 750px) {
                    #image-with-text__number--{{ block.id }} {
                      {% if block.settings.show_desktop %}
                        display: flex;
                      {% else %}
                        display: none;
                      {% endif %}
                    }
                  }
                </style>
                <div>{{ block.settings.number }}</div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Collage with text",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },

    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "richtext",
      "id": "media_caption",
      "label": "Overlay caption"
    },
    {
      "type": "color",
      "id": "media_caption_color",
      "label": "Overlay caption color",
      "default": "#ffffff" 
    },
    {
      "type": "select",
      "id": "media_caption_bg",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid",
          "label": "Solid"
        }
      ],
      "default": "none",
      "label": "Overlay caption background"
    },
    {
      "type": "color",
      "id": "media_caption_bg_color",
      "label": "Overlay caption background color",
      "default": "#FFFFFF" 
    },
    {
      "type": "select",
      "id": "media_caption_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "top-left",
      "label": "Overlay caption position"
    },

    {
      "type": "select",
      "id": "media_type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "collage",
          "label": "Collage"
        }
      ],
      "default": "image",
      "label": "Media type"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "checkbox",
      "id": "show_desktop",
      "label": "Show on Desktop",
      "default": true  
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "range",
      "id": "desktop_content_padding_left",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "Desktop content padding left",
      "default": 36
    },
    {
      "type": "range",
      "id": "desktop_content_padding_right",
      "min": 0,
      "max": 400,
      "step": 4,
      "unit": "px",
      "label": "Desktop content padding right",
      "default": 36
    },    
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Collage media"
    },
    {
      "type": "image_picker",
      "id": "collage_image",
      "label": "Collage image",
      "info": "If media type is set to collage, shows in second position"
    },
    {
      "type": "video",
      "id": "collage_video",
      "label": "Collage video",
      "info": "If media type is set to collage, shows in second position"
    },
    {
      "type": "richtext",
      "id": "collage_media_caption",
      "label": "Overlay caption"
    },
    {
      "type": "color",
      "id": "collage_media_caption_color",
      "label": "Overlay caption color",
      "default": "#ffffff" 
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "id": "show_mobile",
      "label": "Show on Mobile",
      "default": true  
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Text first"
        }
      ],
      "default": "image_first",
      "label": "Mobile image placement"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "select",
      "id": "overlay_caption_position_mobile",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "top-left",
      "label": "Overlay caption position"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__5.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__6.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-body-small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "text-body",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "text-body-large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "text-body",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "select",
          "id": "background_style",
          "default": "none",
          "label": "Background style",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "solid",
              "label": "Solid"
            }
          ]
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "bullets_to_checkmarks",
          "default": false,
          "label": "Bullets to checkmarks"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_arrow",
          "default": true,
          "label": "Arrow button style"
        },
        {
          "type": "inline_richtext",
          "id": "button_subtitle",
          "label": "Button subtitle"
        }
      ]
    },
    {
      "type": "results",
      "name": "Results",
      "settings": [
        {
          "type": "text",
          "id": "result_number1",
          "default": "99%",
          "label": "Result Number 1"
        },
        {
          "type": "text",
          "id": "result_text1",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "label": "Result Text 1"
        },
     
        {
          "type": "text",
          "id": "result_number2",
          "default": "99%",
          "label": "Result Number 2"
        },
        {
          "type": "text",
          "id": "result_text2",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "label": "Result Text 2"
        },
        {
          "type": "text",
          "id": "result_number3",
          "default": "99%",
          "label": "Result Number 3"
        },
        {
          "type": "text",
          "id": "result_text3",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "label": "Result Text 3"
        },
        {
          "type": "checkbox",
          "id": "show_desktop",
          "label": "Show on Desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_mobile",
          "label": "Show on Mobile",
          "default": false
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "review_product",
          "default": "Product Name",
          "label": "Product Name"
        },
        {
          "type": "text",
          "id": "review_name",
          "default": "Sandy",
          "label": "Reviewer Name"
        },
        {
          "type": "text",
          "id": "review_title",
          "default": "SO HELPFUL",
          "label": "Review Title"
        },
        {
          "type": "text",
          "id": "review_text",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "label": "Review Text"
        },
        {
          "type": "checkbox",
          "id": "show_desktop",
          "label": "Show on Desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_mobile",
          "label": "Show on Mobile",
          "default": false
        }
      ]
    },
    {
      "type": "number",
      "name": "Number",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "default": "1",
          "label": "Number"
        },
        {
          "type": "color",
          "id": "number_bg_color",
          "label": "Background color",
          "default": "#121212",
          "info": "Background color for the number"
        },
        {
          "type": "checkbox",
          "id": "show_desktop",
          "label": "Show on Desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_mobile",
          "label": "Show on Mobile",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collage with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}

{% endschema %}

