{{ 'component-featured-reviews.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture swiper_options -%}
{
  "slidesPerView": 1.3,
  "spaceBetween": 20,
  "slidesOffsetBefore": 20,
  "slidesOffsetAfter": 20,
  "navigation": {
    "prevEl": ".swiper-button-prev--{{ section.id }}",
    "nextEl": ".swiper-button-next-{{ section.id }}"
  },
  "breakpoints": {
    "990": {
      "slidesPerView": 3,
      "slidesOffsetBefore": 0,
      "slidesOffsetAfter": 0
    },
    "1301": {
      "slidesPerView": 4,
      "slidesOffsetBefore": 0,
      "slidesOffsetAfter": 0
    }
  }
}
{%- endcapture -%}

{%- liquid 
  if template contains 'product' and product 
    assign reviews_obj = product.metafields.featured.reviews.value
  else
    assign reviews_obj = shop.metaobjects.featured_review.values
  endif
-%}



<div class="featured-reviews  small-full-width section-{{ section.id }}-padding">
  <h3 class="h3 featured-reviews__header center page-width">{{ section.settings.title }}</h3>
  <div class="featured-reviews__slider">
    <div class="page-width">
      <div class="swiper" data-swiper='{{- swiper_options -}}'>
        <div class="swiper-wrapper">
          {% for review in reviews_obj %}
            <div class="swiper-slide">
              {%- render 'card-featured-review', review: review -%}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="featured-reviews--arrows">
      <div class="swpr-prev swiper-button-prev--{{ section.id }} swiper-button-prev">
        <span class="visually-hidden">Previous slide</span>
      </div>
      <div class="swpr-next swiper-button-next-{{ section.id }} swiper-button-next">
        <span class="visually-hidden">Next slide</span>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured reviews",
  "class": "section-featured-reviews",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "color-inverse"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Over 11,000 5-star Reviews"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Featured reviews"
    }
  ]
}
{% endschema %}
