{%- liquid
  assign heading = section.settings.heading

  assign image = section.settings.image | default: nil

  assign image_url = image | image_url: width: 400

  assign button_block = section.blocks | where: "type", "button" | first

  assign dropdown_blocks = section.blocks | where: "type", "dropdown"

  assign section_top = section.settings.section_top

  assign section_bottom = section.settings.section_bottom

  assign section_top_mobile = section.settings.section_top_mobile

  assign section_bottom_mobile = section.settings.section_bottom_mobile
-%}

<style>
  .landing-dropdowns-grid {
    align-items: start !important;
  }

  @media (max-width: 960px) {
    .landing-dropdowns-grid {
      row-gap: var(--s2) !important;
    }
  }

  .landing-dropdown:not(:last-child) {
    border-bottom: 1px dotted #C7C7C7;
  }

  .landing-dropdown-heading {
    font-family: "Forma";
    font-weight: 700;
    font-size: var(--t4);
  }

  .landing-dropdown-content {
    display: flex;
    gap: var(--s1);
    align-items: center;
    max-width: 90%;
  }
</style>

<div class="landing-container top-{{ section_top }} small--top-{{ section_top_mobile }} bottom-{{ section_bottom }} small--bottom-{{ section_bottom_mobile }}">
  <div class="landing-grid landing-dropdowns-grid">
    <div>
      <div class="stack-2">
        {%- if image -%}
          <div class="object-cover ratio--image" style="--image-width: {{ image.width }}; --image-height: {{ image.height }};">
            {{ image_url | image_tag }}
          </div>
        {%- endif -%}

        <div class="center landing-visibility--desktop">
          {%- render "landing-button" block: button_block -%}
        </div>
      </div>
    </div>
    <div>
      <div class="stack-2 small--stack-none">
        <div class="landing-text" style="max-width: 400px;">
          <h1 class="landing-heading">
            {{ heading }}
          </h1>
        </div>

        <div class="landing-dropdowns">
          {%- for block in dropdown_blocks -%}
            {%- liquid
              assign heading = block.settings.title

              assign description = block.settings.description

              assign icon = block.settings.icon
            -%}

            <div class="landing-dropdown block-1 stack-1">
              <div class="landing-text size-4 small--size-3">
                <h2>
                  <strong>{{ heading }}</strong>
                </h2>
              </div>

              <div class="landing-dropdown-content">
                <div>
                  {{ icon }}
                </div>
                <div class="landing-text">
                  <p>
                    {{ description }}
                  </p>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>

        <div class="center small--stack-item-2 landing-visibility--mobile">
          {%- render "landing-button" block: button_block -%}
        </div>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
  {
    "name": "Dropdowns",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "section_top",
        "label": "Section top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_bottom",
        "label": "Section bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_top_mobile",
        "label": "Section top (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "section_bottom_mobile",
        "label": "Section bottom (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "none"
      }
    ],
    "blocks": [
      {
        "name": "Dropdown",
        "type": "dropdown",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "html",
            "id": "icon",
            "label": "Icon (SVG)"
          }
        ]
      },
      {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "call_to_action",
            "label": "Call to action",
            "default": "Shop Now on Amazon"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "textarea",
            "id": "incentives",
            "label": "Incentives",
            "default": "Free Fast Shipping with Prime\n30-day money-back guarantee"
          }
        ]
      }
    ]
  }
{%- endschema -%}