{%- liquid
  assign image = section.settings.image

  assign image_url = image | image_url: width: 1600

  assign heading = section.settings.heading

  assign offer_block = section.blocks | where: "type", "offer" | first

  assign section_top = section.settings.section_top

  assign section_bottom = section.settings.section_bottom

  assign section_top_mobile = section.settings.section_top_mobile

  assign section_bottom_mobile = section.settings.section_bottom_mobile
-%}

<style>
  .landing-banner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .landing-banner-container > * {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
  }

  .landing-banner-image {
    width: 100%;
    height: 800px;
  }

  .landing-banner-content-container {
    display: grid;
    place-items: center end;
  }
</style>

<div class="top-{{ section_top }} small--top-{{ section_top_mobile }} bottom-{{ section_bottom }} small--bottom-{{ section_bottom_mobile }} landing-banner-container">
  {%- if image -%}
    <div class="object-cover ratio--image landing-banner-image" style="--image-width: {{ image.width}}; --image-height: {{ image.height }};">
      {{ image_url | image_tag }}
    </div>
  {%- endif -%}

  <div class="landing-container landing-banner-content-container">
    <div class="stack-1 text--center landing-banner-content">
      {%- render "landing-amazon-exclusive" -%}

      <div class="landing-text" style="max-width: 275px; margin-right: auto; margin-left: auto;">
        <h1 class="landing-heading">
          {{ heading }}
        </h1>
      </div>

      {%- if offer_block -%}
        <div class="stack-item-2">
          {%- render "landing-offer" block: offer_block -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{%- schema -%}
  {
    "name": "Banner",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Feel like you again & Save 30%"
      },
      {
        "type": "select",
        "id": "section_top",
        "label": "Section top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_bottom",
        "label": "Section bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          },
          {
            "label": "6",
            "value": "6"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_top_mobile",
        "label": "Section top (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "section_bottom_mobile",
        "label": "Section bottom (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "none"
      }
    ],
    "blocks": [
      {
        "name": "Offer",
        "type": "offer",
        "settings": [
          {
            "type": "text",
            "id": "price",
            "label": "Price",
            "default": "$20.99"
          },
          {
            "type": "text",
            "id": "compare_price",
            "label": "Compare-at price",
            "default": "$29.99"
          },
          {
            "type": "text",
            "id": "savings",
            "label": "Savings",
            "default": "Save 30%"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "On Your First Subscription Order<br> + 10% off every recurring order"
          },
          {
            "type": "text",
            "id": "call_to_action",
            "label": "Call to action",
            "default": "Save Now on Amazon"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "textarea",
            "id": "incentives",
            "label": "Incentives",
            "default": "Free Fast Shipping with Prime<br>30-day money-back guarantee"
          }
        ]
      }
    ]
  }
{%- endschema -%}
