{% style %}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }


  .steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
  }

  .steps__card {
      width: 100%;
      min-width: 380px;
      max-width: 400px;
      display: flex;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 1.2rem;
      justify-content: space-between;
      padding: 1.6rem;
  }

  .steps__content .h3 {
    font-size: 3rem;
  }

  .steps__content-title .h4 {
    font-size: 2rem;
  }

  #steps--{{ section.id }} .steps__card {
      background-color: {{ section.settings.background_color }};
  }

  .steps__content {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .steps__content-upper {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
  }

  .steps__content-title {
      display: flex;
      flex-direction: column;
      padding-top: 0.4rem;
      gap: 0.5rem;
  }

  .steps__content-lower {
      padding-top: 1rem;
      border-top: 2px solid #B41214;
  }

  .steps__media {
      flex: 1 1 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      overflow: hidden;
  
  }

  .steps__image a, .steps__video a {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
  }

  .steps__image img,
  .steps__video video {
      aspect-ratio: 2 / 3;
      max-width: 100%;
      height: auto;
      object-fit: cover;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      }

       .steps {
        gap: 1.9rem;
       }

      .steps__card {
      flex: 1 1 calc(100% / 3 );

      padding: 2.4rem;
  }

  .steps__content .h3 {
    font-size: 3.6rem;
  }
  .steps__content-title .h4 {
    font-size: 2.4rem;
  }
  }
{% endstyle %}

<div  class="color-{{ section.settings.color_scheme }} gradient">
  <div
  id="steps--{{ section.id }}"
    class="steps page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {% for block in section.blocks %}
      {% if block.settings.product != blank %}
        {% assign product = block.settings.product %}
        {% assign product_title = product.title %}
        {% if product.title contains 'VMAGIC' %}
          {% assign product_brand = 'VMAGIC®' %}
          {% assign product_title = product.title | split: 'VMAGIC®' | last | strip %}
        {% endif %}
        <div id="steps__card--{{ block.id }}" class="steps__card">
          <div class="steps__content">
            <div class="steps__content-upper">
              <div class="h3">
                {{ forloop.index }}
              </div>
              <div class="steps__content-title">
                <div class="h4">{{ block.settings.title }}</div>
                <div>{{ block.settings.product_benefits | strip_html }}</div>
              </div>
            </div>
            <div class="steps__content-lower">
              <div>{{ product_brand }}</div>
              <div>{{ product_title }}</div>
            </div>
          </div>
          {% if block.settings.product_image != blank or block.settings.product_video != blank %}
            <div class="steps__media">
              {% if block.settings.product_image != blank %}
                <div class="steps__image">
                  <a href="{{ product.url }}">
                    {{ block.settings.product_image | image_url: width: 400 | image_tag }}
                  </a>
                </div>
              {% elsif block.settings.product_video %}
                <div class="steps__video">
                  <a href="{{ product.url }}">
                    {{
                      block.settings.product_video
                      | video_tag: autoplay: true, loop: true, muted: true, playsinline: true
                    }}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Steps",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "steps_card",
      "name": "Steps card",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product image"
        },
        {
          "type": "video",
          "id": "product_video",
          "label": "Product video"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "product_benefits",
          "label": "Product benefits",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Steps"
    }
  ]
}
{% endschema %}
